[2016-08-16 20:40] freekmurze opened #1 "Code review"
Let me know when you're done with the code, tests and readme. I'll do a little code review, register the package on Packagist and start some automatic code quality checks.

[2016-08-16 20:42] christophrumpel commented on #1
Awesome, thx a lot!

[2016-08-21 15:07] christophrumpel commented on #1
ok great, I did a fix but now it is working, also the version problem with laravel dev is no longer a problem (somehow).

Guess I am ready for the review. One thing I already from @themsaid  is that the badges are missing. I will add them tonight after my flight or tomorrow. I also plan to add more features after the Laracon. Thx to you both!

[2016-08-21 23:58] ahmedash95 opened #2 "Send notification to user"
I think twitter notification must be for chat messages also , something like

[code]

BTW, i could make a PR for this implementation

[2016-08-22 05:44] christophrumpel commented on #2
Yeah you're right! Would appreciate a PR 👍

[2016-08-25 19:26] christophrumpel commented on #2
So finally I'm back. I will check it out now. Sorry for having to wait that long.

[2016-08-26 08:32] ahmedash95 commented on #2
Never mind dude! , waiting your response :)

[2016-08-27 08:27] freekmurze commented on #1
Did the code review during Adam's workshop, but forgot to mention that here 😄

[2016-08-27 08:28] #1 closed

[2016-08-27 16:45] #2 closed

[2016-09-17 03:27] aronduby opened #13 "Per User Settings"
The system I'm building is tenated, so I need to be able to pull OAuth from each of the different models, instead of a site wide config. The site is tweeting as a team that is in the site, not the site itself. It looks like Laravel provides routing functions for the notifications, but this class isn't setup to use it. I can do some work and a PR to add it, but wanted to get your thoughts first.

F

[2016-09-17 04:37] ahmedash95 commented on #13
Hi @aronduby , as a contributor in this repo may i ask you to show code example of what you want to do , cause i can't get the full picture well ?

[2016-09-17 04:58] aronduby commented on #13
I'm not quite sure the best way to pull off the switch, but here's how the rest would happen, which is basically copy/paste from the Nexmo channel included by default.

In my tenanted model (for example the team)

[code]

In the TwitterChannel

[code]

Then it's just the normal process laid out in the docs for sending the notification as the user

[2016-09-17 06:20] ahmedash95 commented on #13
@aronduby what about change twitter oAuth client credential on fly ?

[code]

[2016-09-17 06:27] aronduby commented on #13
then you can't easily skip a notifiable if they don't have it enabled

[2016-09-17 06:32] ahmedash95 commented on #13
i guess you should do this to get it work as you expected

[code]

[2016-09-17 11:56] christophrumpel commented on #13
Hey @aronduby,

definitely open for more features. Will look into your cas that later today. I did some refactoring of the channel with a feature to send media too. I want to merge that in before any other addons. Thx @ahmedash95 for jumping in here too. I'll be back later today.

[2016-09-17 15:43] ahmedash95 commented on #13
@christophrumpel never mind 😄  .. PS. i love the new way of handling requests, Good job man!

[2016-09-17 17:43] mpociot commented on #13
Instead of changing the config values on the fly, you could also extend the `TwitterServiceProvider` and modify the `boot` method to return tenant related configuration values:

https://github.com/laravel-notification-channels/twitter/blob/master/src/TwitterServiceProvider.php#L19-L24

[2016-09-17 18:18] ahmedash95 commented on #13
@mpociot, but he need to change the credentials based on row data of the model

[2016-09-17 19:36] christophrumpel commented on #13
@ahmedash95 thx man! With the additional media parameter I felt we needed to change the code to provide the users a better experience. Glad you liked it.

@aronduby Just had a few minutes to check out your scenario. We really should add some functionality to make this work with user dependant data. I am definitely open for a PR or I could implement it myself if you don't want to. I am just leaving

[2016-09-19 09:26] ahmedash95 opened #16 "Refactoring media twitter status"
Hi @christophrumpel  , based on what we talk here #13 for providing user experience . what about if we create a method for images like

[code]

or as i prefer to create an twitter image class that allow us more functionality like validating images before post it or throw exception for some cases of uploading images

[code]

[2016-09-28 03:51] aronduby opened #17 "PHP7 Required"
In TwitterStatusUpdate constructor you're type hinting message to a string which requires php 7 but in your composer you have 5.6.4

[2016-09-28 06:19] christophrumpel commented on #17
Hey @aronduby, thx for the hint. Will fix that. I would like to make it a PHP7 package only. Are there any overall channel guidelines for that @mpociot @themsaid ?

[2016-09-28 13:04] aronduby commented on #17
That seems like a bad idea given the only technical aspect that requires 7 is type hinting a single string and the package this is for is >= 5.6.4

[2016-09-28 16:05] christophrumpel commented on #17
Yep you're. Using them a lot for my own stuff but it really makes no sense here. I will remove it.

[2016-09-28 17:44] christophrumpel commented on #17
done.

[2016-09-28 17:44] #17 closed

[2016-10-02 09:47] christophrumpel commented on #16
Hey @ahmedash95 , sry for the delay. Work is always a mess after holidays =) Yeah I think it would be a good idea to add a method for the images. I am not sure if we need the image class too? Guess it is better for testing right? But feels a little bit more complex for the user to write?

[2016-10-02 09:57] ahmedash95 commented on #16
Hi @christophrumpel never mind , I hope you have enjoyed your holiday. i'm agree with the complexity for classes but i still see it's the best . but use method is fine with me too , so what's your final decision here ?

[2016-10-02 10:05] christophrumpel commented on #16
I really did thx =) OK lets do the image class. Could you provide a PR? I am looking for a solution for the "per-user-setting" right now.

[2016-10-02 10:08] ahmedash95 commented on #16
No problem , wait my PR ;) .

[2016-10-02 10:37] christophrumpel commented on #13
Sry guys for the late reply. It has been messy here. So I just looked into that problem.
My first solution would be like this. (not perfect yet, but working)
1. Dev adds a function to return user specific Twitter keys inside the notifiable model. I tested it with different settings in my config, but in real this data would probably come from the user's DB.

[code]
1. In order to make the settings

[2016-10-04 14:35] christophrumpel commented on #13
Any thoughts @mpociot or @themsaid ?

[2016-10-07 17:22] christophrumpel commented on #13
Or maybe @freekmurze ?

[2016-10-13 22:41] aronduby commented on #17
I saw this is fixed, but it's only in master, any chance you could tag it for composer?

[2016-10-14 04:24] christophrumpel commented on #17
thx, done.

[2016-10-14 20:25] aronduby commented on #17
thanks!

[2016-10-18 18:54] christophrumpel commented on #13
Another try =) @mpociot @themsaid @freekmurze

What do you think of this approach? I really think there should be a per-user setting too.

[2016-10-19 17:18] themsaid commented on #13
@christophrumpel I've used a similar in a cloned version of the pusher push notifications channel in which every tenant have his own pusher app credentials, so I'd say 👍

Sorry for the late reply :)

[2016-10-23 15:30] christophrumpel commented on #13
Thx @themsaid ! No problem. Just wanted to get some feedback =) Then I will implement it and there will be time for changes afterwards too if there are better approaches or improvements =)

[2016-10-23 16:57] christophrumpel commented on #13
Ok I did implement it. Anyone an idea how I can test that?

[2016-10-30 18:02] christophrumpel commented on #13
Still not happy with the tests, but feel free to add a PR if you can and want to change that.

[2016-10-30 18:02] #13 closed

[2016-10-31 03:40] aronduby commented on #13
Sorry I've mostly dropped off the face of the earth in this conversation, and it will only get worse in the coming months, but figured I would try to throw in real quick while I can.

@christophrumpel  I really like the [solution you have above](https://github.com/laravel-notification-channels/twitter/issues/13#issuecomment-250964832). The only quick thought I had was making it be able to do both

[2016-11-04 14:40] enygma opened #19 "Handling character limits and URL wrapping"
I briefly looked through the code for this but didn't immediately see anything that calculated the tweet length before sending it to the server. I discovered in some of my own work with the API that it does odd things when performing URL wrapping with the `t.co` links. This can change the character count from what it might seem.

This may not even be an issue as you might be okay with the failure

[2016-11-04 18:45] christophrumpel commented on #19
Great input! Do you want to provide a PR? If not I will take care of that. Thanks!

[2016-11-05 04:01] TwinLight opened #20 "Driver [App\Notifications\TwitterChannel] not supported."
Hello, so i'm new and would like some inside from you guys.

This is my notification class
[code]

This one, is controller
[code]

```Config\App.php``` already inserted and ```.env``` file also had been setup

Any idea what might wrong?

Error Output
[code]

Update: insert error message

[2016-11-05 13:13] AzrizHaziq commented on #20
Sorry, my bad

you need to include this on Notification Class

[code]

[2016-11-05 13:13] #20 closed

[2016-11-05 16:41] christophrumpel commented on #20
Hey @TwinLight , glad you could figure it out yourself.

[2016-11-06 17:20] christophrumpel commented on #19
So, just had some time to check it out. As you mentioned the current failure handling will tell you about the character limit right now. But I would see a benefit in not needing to call the Twitter API to get informed. Have you found a working way to count the message like Twitter does? Just looked it over and didn't see an easy way to do that. Have you?

[2016-11-07 13:55] enygma commented on #19
I actually found a pretty cool library that seems to do a good job counting the characters as Twitter is expecting them: [kylewm/brevity](https://github.com/kylewm/brevity). I'm using it in one of my own projects right now and it seems to do well to shorten links and all according to those Twitter guidelines. I just make the message like normal, check the character count then, if it's too long, pu

[2016-11-08 06:02] christophrumpel commented on #19
Thanks @enniel . I will check that out. Not sure yet if I want to include another package just for counting, but I will try it. It would a benefit handling this obvious error before sending to Twitter.

[2016-11-08 21:18] #16 closed

[2016-11-13 14:38] christophrumpel commented on #19
So I took a look and decided to use that package. I merged a PR today and from now on the package is throwing an exception when the status update message is too long. I will also think about providing the "shorten" method from the brevity package. Thx @enygma and would be great if you could test it out too.

[2017-01-24 17:45] affektde opened #25 "Laravel 5.4 support"

[2017-01-24 19:48] #19 closed

[2017-01-24 20:01] christophrumpel commented on #25
Thx for the reminder, already at it.

[2017-01-25 19:35] christophrumpel commented on #25
Waiting for a new stable https://github.com/orchestral/testbench release.

[2017-01-27 16:49] christophrumpel commented on #25
Done.

[2017-01-27 16:49] #25 closed

[2017-08-30 16:36] affektde opened #30 "Laravel 5.5 support"
Hello dear contributors,
is it possible to support Laravel 5.5? I will try it now with an override.
Best regards from Munich

[2017-08-30 17:24] christophrumpel commented on #30
Right now on Laracon. Will add it when I get back 👍

[2017-09-02 13:58] christophrumpel commented on #30
So, just add support for 5.5 and autodiscovery.

[2017-09-02 13:58] #30 closed

[2017-10-10 08:23] iiCe89 opened #32 "spacing content displayed on twitter"
`return (new TwitterStatusUpdate($blog->name .' https://google.com/'. $blog->slug))->withImage($image);`

i'm using this to display title content, link & image on twitter however the content & title seem to not space apart :/ how would i do this

[2017-10-10 08:34] christophrumpel commented on #32
Hey @iiCe89 , can you show me what you mean? What is the result? No space between blog name and URL?

[2017-10-10 08:38] KDA809 commented on #32
for example this it what it would look like on twitter `TITLEIt is a long established fact that a reader will be distracted by the readable https://link.com `

so there is no break between `TITLE` and summary content

[2017-10-10 08:42] christophrumpel commented on #32
ah ok, hm so how does you content look like? What are you using for the break?

[2017-10-10 08:45] KDA809 commented on #32
currently just this `$blog->name .' https://google.com/'. $blog->slug)` with the dots break each section but the URL seems to space from the summary it is just the Title & text that wont

[2017-10-10 08:47] christophrumpel commented on #32
yeah but `title` and `text` come both from `$blog->name` right?

[2017-10-10 08:55] KDA809 commented on #32
$`blog->name . $blog-body .' https://google.com/'. $blog->slug)` like this apologie's

[2017-10-10 08:59] christophrumpel commented on #32
Sry Im not sure if I get your correct. You did not put a space between name and body? Why don't you do it like that:
`return (new TwitterStatusUpdate($blog->name . ' ' . $blog->body .' https://google.com/'. $blog->slug))->withImage($image);`

[2017-10-10 09:03] KDA809 commented on #32
ah ok ! thank you will try that and update you :)

[2017-10-10 10:41] KDA809 commented on #32
works thank you

[2017-10-10 10:41] #32 closed

[2017-10-10 10:46] christophrumpel commented on #32
👍

[2017-10-15 21:20] huglester opened #33 "mediaIds array or collection?"
Hello,

I am attaching media not from URL, but by id
Like:
[code]

But it says it should be an array, in the var declaration.
[code]

So probably this should be changed to implode(',', $this->imageIds);
or change to Collection?
[code]

thanks

[2017-10-16 17:40] christophrumpel commented on #33
Yeah you're right. I will change the type to collection in the docblock. This way the code can stay the same 👍

[2017-10-17 16:27] christophrumpel commented on #33
Fixed with the latest PR.

[2017-10-17 16:27] #33 closed

[2018-02-10 14:03] naveenyagati opened #38 "Laravel 5.6 Support"
installing it with the latest laravel 5.6 version fails

[2018-02-10 16:24] christophrumpel commented on #38
Thx for mentioning. Added support for 5.6 #39

[2018-02-10 16:24] #38 closed

[2018-05-05 08:47] robertnicjoo opened #40 "Undefined property: stdClass::$media_id_string"
Hi,

when i try to run my code i get

[code]
on
[code]

here is my notification function:

[code]

any idea?

[2018-05-05 08:53] christophrumpel commented on #40
Hey, my first guess is that it does not work with online hosted images. They must be local ones.

[2018-05-05 08:59] robertnicjoo commented on #40
@christophrumpel  i am working on local, first i only used `$image` it gave error that cannot find image so i put full address

[2018-05-05 08:59] robertnicjoo commented on #40
@christophrumpel as for testing i removed `image` part and here is what i get now:

[code]

[2018-05-05 09:02] christophrumpel commented on #40
This error is from your Twitter. Have you checked your Twitter credentials?

[2018-05-05 09:03] robertnicjoo commented on #40
you mean my twitter app? `which part should i check?`

[2018-05-05 09:07] christophrumpel commented on #40
Have you checked the installation instructions here? https://github.com/laravel-notification-channels/twitter

You need to add these to the `config/services.php` file:

[code]

And you need to add those values to your `.env` file. Have you done that?

[2018-05-05 09:08] robertnicjoo commented on #40
I've done that already.

[2018-05-05 09:09] christophrumpel commented on #40
And the Twitter credential values in your `.env` file are correct?

[2018-05-05 09:11] robertnicjoo commented on #40
yes, 5+ times i checked them
![dddd](https://user-images.githubusercontent.com/8672823/39661634-f142444c-507e-11e8-9c85-f8efa78645b4.png)

[2018-05-05 09:17] christophrumpel commented on #40
Hmm strange. Jsut checked it for myself and it still works. Maybe try to generate new keys or to create a new Twitter app. It must be something on the Twitter side.

[2018-05-05 09:21] robertnicjoo commented on #40
I created new app and same result :(

[code]

[2018-05-05 09:29] christophrumpel commented on #40
hmm do you got another Twitter user you can try? You could also try to google this Twitter API error to find a solution. Since I can reproduce it, I guess I can't help here sry.

[2018-05-05 09:44] robertnicjoo commented on #40
Thanks anyway.

[2018-05-05 09:46] christophrumpel commented on #40
NP. Let me know if you find out more.

[2018-05-06 14:17] robertnicjoo commented on #40
@christophrumpel  I solved the issue and just to let you know, all i had to do was

[code]

Also if someone else some day ends up here can double check their `env` values by tinker like:

[code]
If return the value that is set in `env` file they are good to go.

**PS:** Another thing maybe you like to mention in documents is that for image you must provide full address `$post->image` is not enough

[2018-05-06 14:22] christophrumpel commented on #40
Thx a lot for mentioning it! I will add it to the docs. Glad it works now.

[2018-09-09 15:19] hassanazimi opened #41 "Support for Laravel 5.7?"
Hi guys, thanks for this great package.

I'm running into an error when upgrading to Laravel 5.7.
Is it possible to fix it in Packagist so we can pull?

Thanks

[2018-09-10 05:57] christophrumpel commented on #41
Hey, your're welcome. I just merged it. Please try again and let me know if it works.

[2018-09-10 10:42] azimidev commented on #41
Thank you @christophrumpel

[2018-09-10 10:42] #41 closed

[2018-11-06 22:18] bradders opened #43 "Multiple Twitter Accounts"
First up, awesome package! 🙌

I've hit a use case where I want to be able to switch the Twitter account my app posts from. Super quick, high level explanation, but my app has regions and each region has its own Twitter account. I'm looking/hoping to have multiple entries in my env file corresponding to each twitter account and then being able to specify which to post to.

[2018-11-06 22:22] bradders commented on #43
@christophrumpel  Sadly my PHP is somewhat suspect, else I'd just in and submit a PR. But pseudo-code speaking, maybe the env fields (token, secret, key) can be passed in or overridden?

[2018-11-07 07:06] christophrumpel commented on #43
Thanks 😀I will give it a look today. Maybe I come up with a possible solution. Would be a nice add-on.

[2018-11-07 16:12] lars-fomin commented on #43
@bradders you can implement **routeNotificationForTwitter** method in your model that uses Notifiable trait which should return an array with credentials based on the region

[2018-11-07 16:14] christophrumpel commented on #43
Hey, so I just checked it and it should already be possible. With all Laravel notifications, we have `routeNotificationsForChannel` methods, which you can use inside your notifiable model like a user. https://laravel.com/docs/5.7/notifications#customizing-the-recipient

In my package, I'm already checking for this method `routeNotificationForTwitter`. So you can use this method and decide on a `us

[2018-11-07 16:23] christophrumpel commented on #43
Yep just tested it again. Works like that:

[code]

This will now override the keys from the env file. You can now, for example, save two pairs of keys in your env file and depending on the user you want to send something, decide which keys to load from this method. I will add that to the docs as well.

[2018-11-08 15:33] christophrumpel commented on #43
Have you tried it @bradders ?

[2018-11-08 19:25] bradders commented on #43
@christophrumpel Sorry, I haven't had chance yet. Currently wallowing in Twitter support hell trying to get my second Twitter app past the request stage!

It looks good though, I'll check it out as soon as possible! 🙌

[2018-11-09 06:20] christophrumpel commented on #43
oh I see. All the best! :-) I will close this cause I think it is solved with the provided information. If you run into any problems just open it again.

[2018-12-14 19:33] simonedoria opened #46 "Obctobercms doesn't support laravel 5.6 yet"
Hi, as I mentioned in the title, i'm using octobercms and when i try to launch the command it answer that laravel 5.5 is not supported.
It could be possible to use it with laravel 5.5?

Thanks!

[2018-12-14 20:46] christophrumpel commented on #46
Hey, it is still working with v1.0.8. Please try to install this version.

[2019-01-31 11:35] jithu121212 opened #47 "name lookup timed out"
Abraham \ TwitterOAuth \ TwitterOAuthException (6)
name lookup timed out

[2019-02-27 16:52] hassanazimi opened #49 "laravel 5.8 support"
Hey, guys, can u update this package to be compatible to 5.8 and also update it in Packagist as well?

Thx

[2019-02-28 07:38] christophrumpel commented on #47
Is this still a problem and can you show me your code?

[2019-02-28 07:38] #46 closed

[2019-02-28 07:51] christophrumpel commented on #49
Hey, I created a new release with support for Laravel 5.8. It just needs to get updated on Packagist, then it will be available.

[2019-02-28 17:10] christophrumpel commented on #49
It is now available through the new version 👍

[2019-02-28 17:10] #49 closed

[2019-09-04 21:04] jeffwa opened #51 "Laravel 6.0 Support"
Hi,

Will this package be updated for Laravel 6.0?

Thanks

[2019-09-05 05:24] christophrumpel commented on #51
Hey, it will for sure. But maybe a couple more days before I can do it. You could also help out with a PR?

[2019-09-06 07:39] jeffwa commented on #51
Added a PR late last night. Forgot to ping you. https://github.com/laravel-notification-channels/twitter/pull/52

[2019-09-10 10:59] atymic commented on #51
Support added in #52

[2019-09-10 10:59] #51 closed

[2019-09-10 11:00] atymic commented on #47
cc @jithu121212

Are you still having an issue?

[2019-09-13 23:13] atymic commented on #47
Closing, re-open if you are still having the issue.

[2019-09-13 23:13] #47 closed

[2019-10-22 16:25] iMohammadd opened #53 "Call to undefined method App\Jobs\PostToTwitter::via()"
hi
i created a notification:
[code]

but i get the error: `Call to undefined method App\Jobs\PostToTwitter::via()`

what can i do?

[2019-10-22 16:46] #53 closed

[2020-01-14 16:38] azizoid opened #57 "no usage information"
Usage information says now to install but not how to use

what code should i post in Model, what in Controller? nothing

[2020-01-15 06:49] christophrumpel commented on #57
Hey. What information are you missing? Please check the Laravel docs for information about how to use Laravel notifications: https://laravel.com/docs/5.7/notifications#sending-notifications

Maybe I should add that to the readme to make that more clear. Does this already help you?

[2020-01-16 03:48] azizoid commented on #57
Thank you for answering. I figured that out. but have no idea how.
For example it took me quite long to find out this part of code in Controller will work.
[code]

[2020-01-16 03:49] azizoid commented on #57
Notification file
Model file
Controller file

if you just put example codes to all of these files. it would take us faster to use your code. But instead you send us to read the documentation. I was very close to give up and not to use it.

Have a little bit of empathy, not all of us are as good as you, and some things that are easy for you, we might not get that easily :)

Any way thank you for th

[2020-01-16 09:03] christophrumpel commented on #57
Thanks for your feedback. I have to say it is the first time I get this kind of feedback but I get it. I will try to improve the docs. Thanks for taking the time to mention it 👍

[2020-01-16 09:03] #57 closed

[2020-02-02 15:08] NGT-11 opened #58 "Array and string offset access syntax with curly braces is deprecated on PHP 7.4"
Hello,

As required by composer.json, "abraham/twitteroauth" is used in its 0.9.2 version, which accesses arrays with curly braces, a feature deprecated since PHP 7.4.

https://www.php.net/manual/en/migration74.deprecated.php#migration74.deprecated.core.array-string-access-curly-brace

The array and string offset access syntax using curly braces is deprecated. Use $var[$idx] instead of $var{$idx}.

[2020-02-03 12:49] christophrumpel commented on #58
Hey, thanks for the hint. Have you tried it with a newer version of the package yourself already?

[2020-02-04 11:13] Aurelien-NGT-11 commented on #58
Hi,

I've upgraded abraham/twitteroauth from version 0.9.2 to 1.1.0 myself.
It's working on production and unit tests passed successfully.

[2020-02-04 12:06] christophrumpel commented on #58
thanks! I will update it today or tomorrow 👍

[2020-02-04 12:49] christophrumpel commented on #58
Hey, I just release a new version. Please let me know if it works for you.

[2020-02-04 21:00] Aurelien-NGT-11 commented on #58
Hey,

It's working well 👍

Thanks for the quick update

[2020-02-09 09:15] #58 closed

[2020-02-21 09:18] Adam-78 opened #59 "Adding links to tweets"
Hi,

How do you add links inside tweet when using `TwitterStatusUpdate`

The following renders as escaped html on twitter:

      return new TwitterStatusUpdate( '<a href="http://example.com">http://example.com</a>');

[2020-02-21 09:27] Adam-78 commented on #59
Figured it out...no need to include html markup.

[2020-02-21 09:27] #59 closed

[2020-02-27 16:37] christophrumpel commented on #59
Sry just saw the issue. Glad it worked out for you 👍

[2020-02-28 08:54] MoatazAbdAlmageed opened #60 "Conflict"
[code]

[2020-02-28 15:52] MoatazAbdAlmageed commented on #49
please check I'm using 5.8 but I got this error here https://github.com/laravel-notification-channels/twitter/issues/60

[2020-02-28 16:12] christophrumpel commented on #60
Hey. Is this a brand new Laravel 5.8 installation where you want to install my Twitter package? Just tried on a fresh 5.8 install and it worked on my side. Just from the error, I'm not sure what it is about.

[2020-02-28 21:50] MoatazAbdAlmageed commented on #60
Hello @christophrumpel fixed by `composer remove phpspec/phpspec`

[2020-02-28 21:50] #60 closed

[2020-03-03 20:58] atymic opened #61 "Laravel 7 Support"

[2020-03-04 06:12] #61 closed

[2020-03-25 06:05] junaidrasheed opened #63 "Bad URL: unable to shorten"
First of all, thanks for this amazing package. I've been using it for quite some time now to send twitter DMs. My message content always contains one or more URLs in it. These URLs could be to other tweets or external websites. I'm facing an issue of Bad URL: unable to shorten : (Already shorten URL) exception from time to time and I was wondering if there is any way to get around shortening these

[2020-03-25 07:06] christophrumpel commented on #63
Hey, thanks a lot!

Hm never had that issue. Can I reproduce it somehow?

[2020-03-25 07:52] junaidrasheed commented on #63
Errors are coming from app running in production. I can only provide the stack trace if that helps

`{
    "class": "NotificationChannels\\Twitter\\Exceptions\\CouldNotSendNotification",
    "message": "Couldn't post notification. Response: There was an error sending your message: Bad URL, unable to shorten: https://t.co/wtuKq74.",
    "code": 0,
    "file": "/var/www/html/tie-vision/vendor/larave

[2020-03-25 13:42] christophrumpel commented on #63
Is this the URL you want to send? https://t.co/wtuKq74 and hot did you shorten it?

[2020-03-25 14:43] junaidrasheed commented on #63
Yes this is the URL. I'm not shortening it on my end. This is how I received it from a 3rd party. And when I try to send a twitter DM based on the API response it caused the issue.

[2020-03-29 10:42] christophrumpel commented on #63
Hm I see. It also didn't work for me. I haven't found the issue yet. Will give it a try next week.

[2020-03-31 05:49] junaidrasheed commented on #63
Just following up. Have you find anything?

[2020-03-31 06:59] christophrumpel commented on #63
Hey, sry not yet. I didn't had time yet, because my week is quite busy. Will try to see if someone else can help meanwhile.

[2020-03-31 07:13] johannesnagl commented on #63
I guess you simply can't send t.co links through the API (that don't exist).

I would assume that you

a) need to send the expanded url (try to make an curl/guzzle call to see where the link is redirecting you to). you can then use the expanded url in your direct message.
b) just test if a working t.co link works. in case yes, Twitter is only allowing you to send valid t.co links. then also check

[2020-03-31 07:16] peterpan666 commented on #63
I was about to send the same thought as @johannesnagl.

Maybe it's because of the ending dot because it appears in the error message...

[2020-03-31 16:35] mathiasmoser commented on #63
yes - as @johannesnagl said you can't post tweets with invalid .co urls in the content - if you try to post a tweet without the package - eg directly via the twitter.com website you will also get an error:

Example:
i try to tweet your invalid url:
https://t.co/wtuKq74

error-response (HTTP 400) from twitter api: (POST https://api.twitter.com/1.1/statuses/update.json)
{"errors":[{"code":408,"messa

[2020-03-31 16:41] christophrumpel commented on #63
Thanks @johannesnagl , @peterpan666 and @mathiasmoser 👍 I didn't see that the page does not exist. Guess this explains it.

@junaidrasheed guess you have to talk to your third party or need to check on your side if the URL is valid before using this package.

[2020-03-31 16:41] #63 closed

[2020-04-02 12:50] junaidrasheed commented on #63
Thanks everyone for helping out. Let me check with my 3rd party resource for links like these.

Thanks again,

[2020-05-13 10:04] jonboc opened #64 "You must supply a readable file error when using withImage and AWS S3"
The following code where $image is a publicly accessible jpeg image causes an error:

`return (new TwitterStatusUpdate($message))->withImage($image);`

The error is:
`"message": "You must supply a readable file",
"exception": "InvalidArgumentException",
"file": "D:\\project\\vendor\\abraham\\twitteroauth\\src\\TwitterOAuth.php"`

Any thoughts as to why this is happenign?

[2020-05-13 11:23] christophrumpel commented on #64
What does your `$image` contain? Is it working locally and is this only a problem with AWS S3?

[2020-05-13 12:35] mikecobb-io commented on #64
The following works:

`$image = "images/5.jpg";
return (new TwitterStatusUpdate($message))->withImage($image);`

This doesn't:

`$image = "https://s3.eu-central-1.amazonaws.com/xxx/images/5.jpg";
return (new TwitterStatusUpdate($message))->withImage($image);`

https://s3.eu-central-1.amazonaws.com/xxx/images/5.jpg is a publicly available image and can be viewed in a browser - where xxx is the name

[2020-05-14 07:07] christophrumpel commented on #64
I can't check myself right now, but if I remember correctly you need to provide a "local" path and cannot use a URL to an image.

[2020-05-14 07:10] mikecobb-io commented on #64
Ok thanks

[2020-07-31 18:47] sotoplatero opened #65 "How can I get the tweet_id sent?"
It is possible to get tweet_id of the tweet that was sent as notification?

[2020-08-02 06:17] christophrumpel commented on #65
Hmm not sure at the moment. I'd need to check that but can't do it before next week. I will get back to you.

[2020-08-05 06:27] christophrumpel commented on #65
Hey, so I looked into it today. It seems you cannot return anything from a Laravel notification, but you can use events.

Laravel will send different notification events https://laravel.com/docs/master/notifications#notification-events. I changed the code of the package that the Twitter API response will be in this event. So you just need to listen for an event like "NotificationSent" and then you

[2020-08-08 10:26] sotoplatero commented on #65
sorry for not giving an answer. I'm going to check the notification events. Thank you very much,  is incredible your work

[2020-09-08 10:21] atymic opened #66 "Laravel 8 Support"
Laravel 8 has been released today and we need to update this repo to support it.
See https://laravel.com/docs/8.x/upgrade & https://github.com/laravel-notification-channels/channels/issues/107

[2020-09-08 11:55] #65 closed

[2020-09-11 14:47] owenvoke commented on #66
Looks like this can be closed as [v5.0.0](https://github.com/laravel-notification-channels/twitter/releases/tag/v5.0.0) supports it. 👍🏻

[2020-09-11 14:48] christophrumpel commented on #66
Right, thanks :-) 👍

[2020-09-11 14:48] #66 closed

[2020-09-27 16:49] kejubayer opened #69 "Undefined property: stdClass::$errors"
## I'm trying to create a status. But when I hit the URL, I get the error "Undefined property: stdClass::$errors"
My code below.

[code]
### route
[code]
In composer.json
[code]

[2020-09-28 05:51] christophrumpel commented on #69
Was this working before or is this a new install? And can you show the full error message, please?

[2020-09-28 06:07] kejubayer commented on #69
This is a new install.
Error page screenshots.
![screencapture-twitter-jubayer-twitter-2020-09-28-12_05_09](https://user-images.githubusercontent.com/47379243/94396118-0b7cbd80-0183-11eb-9f21-3c25c493a0d5.png)

[2020-09-28 11:19] christophrumpel commented on #69
Can you try to send a notification via a model like a user please and tell me if that works?

[code]

[2020-09-28 18:17] kejubayer commented on #69
Sorry sir, It's showing the same error.
`Route::get('/twitter', function () {  $user = new User();   $user->notify(new TestNotification());  });`
![2020-09-29](https://user-images.githubusercontent.com/47379243/94470628-c0e25c00-01e9-11eb-9b23-f357034c7c74.png)

[2020-10-01 07:32] leganz commented on #69
@kejubayer could you check the api respond?

like by changing the code => ./vendor/laravel-notification-channels/twitter/src/Exceptions/CouldNotSendNotification.php

[code]

It looks like that the response doesn't follow the expected behavior....

[2020-10-01 08:09] leganz commented on #69
@kejubayer  => ok i think i found the problem!
Please check if your access_token / secret pair is allowed to post.

I created  a PR #70 to fix that.
Hope that helps you.

[2020-10-01 09:36] kejubayer commented on #69
Thank You, I got the real error. And the problem is solved.

[2020-10-01 09:37] leganz commented on #69
Was it the insufficient permission issue or something else?

[2020-10-01 09:40] kejubayer commented on #69
Yes, It was permission issue.

[2020-10-01 10:46] #69 closed

[2020-10-17 06:22] youngbobby opened #71 "Conflict - Cannot install"
Any idea how to resolve this ? I am still on Laravel 7.xx

[code]

[2020-10-18 15:38] christophrumpel commented on #71
Hey, this package currently only supports Laravel 8. Is it possible for you to upgrade? greets

[2020-11-30 09:55] olipayne opened #72 "PHP 8 support"
Hello,

When running ```composer update``` on a PHP 8 machine, I get the following:

[code]

[2020-11-30 12:31] joantp commented on #59
Is there a way to send markup links? ... I'd like to send something like:

 `<a href="http://www.example.com>This is My Example</a>`

[2020-11-30 12:41] joantp opened #73 "Markup links"
As an extension of this issue, https://github.com/laravel-notification-channels/twitter/issues/59#issue-568831560, I wonder if it is possible to send a markup link like:

`<a href="http://www.myexample.com">My Example</a>`

giving <a href="http://www.example.com">My Example</a> as result.

I've tried nl2br, htmlentities,htmlspecialchars ... but no luck.

[2020-11-30 13:00] #71 closed

[2020-11-30 13:12] christophrumpel commented on #72
Hey, I don't have PHP8 installed yet and so couldn't test it yet. Currently, the package's composer restrictions won't allow on Php8.

[2020-11-30 15:43] christophrumpel commented on #73
Hey,

hmm is this even possible in Tweets? From what I know, I don't think this is possible.

[2020-12-01 14:40] simpledev commented on #73
@joantp You don't need to include HTML markup to your links. Your links will be automatically tagged if twitter notifications are sent from a production server, but not if sent from a local environment. From my own experience ...

[2020-12-04 17:26] joantp commented on #73
Yes, you are right. You can send just the string 'www.example.com' and twitter tags it automatically as www.example.com. But I think it is not possible to get a <a href="http://www.example.com">example</a> format.

[2020-12-06 12:23] christophrumpel commented on #73
Ah ok got it, yeah I'm pretty sure this is not possible with normal tweets and therefore also not possible with my package.

[2020-12-06 12:23] #73 closed

[2021-03-11 17:11] amiranagram opened #75 "Reply to tweet feature request"
I want to be able to reply to a tweet with status update. Very useful with Twitter bots that have a Laravel back-end.

I'm willing to code this.

[2021-11-05 19:54] jackwh commented on #64
This is still an issue. The problem seems to be in the `uploadMediaNotChunked()` method, where it calls `is_readable()` on the image URL:

[code]

I would argue the call to `is_readable()` is unnecessary, as `file_get_contents()` will return `false` for unreadable remote resources anyway.

Alternatively, you could change the `if (! is_readable() || ! file_get_contents())` to an `&&`.

[2021-11-06 07:27] christophrumpel commented on #64
Thanks, how can I re-produce this issue?

[2021-11-07 16:21] jackwh commented on #64
@christophrumpel If you set up a Laravel Notification class like this, then try to send it out, it should throw an error when it attempts to read the image from a remote URL:

[code]

In this example I'm passing an image URL in from Unsplash. In the context of the original issue, this might be a URL to a remote image on S3. Because the file is remote (yet abstracted by Laravel's `Storage` class to

[2021-11-09 07:28] christophrumpel commented on #64
Thanks, everyone, I just gave it another look. We are using the https://github.com/abraham/twitteroauth package to interact with the Twitter API. The code @JackWH was referring to is from this package.

It also seems to be a limitation from the Twitter API itself, that you can only pass local images. (https://github.com/abraham/twitteroauth/issues/824#issuecomment-601724919)

So the only thing I c

[2021-11-09 11:38] jackwh commented on #64
Thanks for clarifying @christophrumpel — my mistake, I hadn't noticed the `uploadMediaIfChunked()` function was from outside of this package.

It looks like they [don't want to change the way `is_readable()` works](https://github.com/abraham/twitteroauth/issues/799) in this method. It does look like they're working on [supporting alternative filesystems](https://github.com/abraham/twitteroauth/iss

[2021-11-09 15:31] christophrumpel commented on #64
No worries and thanks for the update. A file class would be nice indeed.

[2022-01-31 15:28] #72 closed

[2022-01-31 15:46] christophrumpel commented on #75
Hey, sry I missed this issue. So you mean like you provide a status update id (= tweet) and the notification should be a reply to that tweet?

[2022-01-31 15:55] amiranagram commented on #75
@christophrumpel Exactly. Something like:

[code]

[2022-02-01 06:36] christophrumpel commented on #75
I like the idea. Did you maybe already check how it could work technically? Would you want to work on a PR on that?

[2022-02-01 08:14] amiranagram commented on #75
I know how it works. I built a Twitter bot last year that I already abandoned. 😅

Sure.

[2022-02-16 20:41] aviavee opened #83 "Only Twitter API v1.1, API v2 should be implemented as well."
Only possible to use API v1.1 which after Nov. 2021 needs elevated access in the twitter developer portal, a switch to API v2 or a ability to choose API version would be greatly appreciated.

[2022-02-17 14:41] christophrumpel commented on #83
Hey, do you know when 1.1 will be deprecated? What does "elevated access" mean?

But overall a switch to API v2 is needed indeed. Do you want to work on a PR?

[2022-03-03 22:06] aviavee commented on #83
I have not found any information regarding removal of API v1.1, but the elevated access is granted through a manual assessment process of your application. Elevated access also have other rate limits and different endpoints.  After Nov. 2021 the default API for all users are v2. there are som limitations however, eg. media upload is not implemented into v2 yet. Still ongoing development.
I don't h

[2022-03-04 06:36] christophrumpel commented on #83
Ok thanks @kredittkort1 👍

[2022-08-07 12:41] sts-ryan-holton opened #85 "Driver [Twitter] not supported"
I came across [this](https://github.com/laravel-notification-channels/twitter/issues/20) issue, which is identical to mine, except let's fast forward to present day, I'm working inside a Laravel 8 application and am using PHP 7.4, I'm using version 5.1.0 of this package and have just set it up, my notification class (the important bits) looks like this...

[code]

You'll see that I've tried severa

[2022-08-07 13:50] sts-ryan-holton commented on #85
Figured it out, looks like only `[TwitterChannel::class]` with `composer dump-autoload` works

[2022-08-07 13:50] #85 closed

[2022-08-07 13:59] sts-ryan-holton opened #86 "Twitter v2 now breaks this package by default"
I've just set up Twitter notifications that I need in my project, after trying it out, and getting an error in the `TwitterDirectMessage.php` file it's clear that when adding a custom log into this file that the current version of the package is unsupported with Twitter v2:

As per [this](https://github.com/laravel-notification-channels/twitter/issues/83) earlier in the year, this has now indeed c

[2022-08-08 07:02] christophrumpel commented on #86
Hey, sorry to see you running into this issue. I can't take a look myself currently, I will see if I find someone else who can help here in the meantime.

[2022-08-08 07:20] sawirricardo commented on #86
Hi @sts-ryan-holton what support you're looking for specifically? Maybe I can help @christophrumpel to take a look. Also, maybe don't you think you want to try to get the elevated access?

[2022-08-08 09:12] sts-ryan-holton commented on #86
@christophrumpel Thanks for getting back to me so quickly! Really value the support of these notification channels, projects like mine rely on these and great support.

@sawirricardo I've recently applied for elevated access and have just found out that this has been approved, so I'll be able to try this out later.

If this works as I intend I do have some other questions but since they're not rel

[2022-08-08 09:57] sawirricardo commented on #86
looking forward to your feedback with that elevated access @sts-ryan-holton  👍

[2022-08-08 17:45] sts-ryan-holton commented on #86
@sawirricardo Ok, so elevated access now works in getting to Twitter, but when attempting to post, I'm using `TwitterDirectMessage`, I get the following error:

After a little googling, one [suggestion](https://twittercommunity.com/t/read-only-application-cannot-post/165806) is to enable **Read and write and Direct message**, which I've just done, and still get the error.

[2022-08-08 18:29] sts-ryan-holton commented on #86
Ignore the above comment, I'll keep it for reference though, **need to regenerate keys** after enabling **Read and write and Direct message** in order for it to work as intended, I'll close this issue 👍

[2022-08-08 18:29] #86 closed

[2022-08-08 20:12] sts-ryan-holton opened #87 "Returning Twitter class as string in via method (TwitterChannel:::class)"
👋 Opening another issue here regarding the implementation of the Twitter channel in the `via` method for my notification class. Notifications are now able to send if I simply just `[TwitterChannel::class]` in my `via` method, but my application allows users to effectively have "notification types" and as such are saved onto my `User` model and look like this:

[code]

This presents the challenge o

[2022-08-09 00:40] sawirricardo commented on #86
Glad to hear that it works @sts-ryan-holton

[2022-08-09 06:55] christophrumpel commented on #86
Thank you, guys. Just quickly looked through, so the issue is solved? Is there something we should update the documentation of this package?

[2022-08-09 07:00] christophrumpel commented on #87
Hey, I see what you mean.

Have you checked the other notification channels? Maybe one of them has solved the "issue" already? That's what I would check first.

Second thought: maybe you can also check how Laravel is doing it for its channels like "mail" etc. Guess they are also using a class behind. Maybe there's something we can add to this package to make it work too.

[2022-08-09 07:03] sawirricardo commented on #86
I think all is fine since it's on the twitter side err rather than the package...

[2022-08-09 07:58] christophrumpel commented on #86
Thanks for helping @sawirricardo 👏

[2022-08-09 08:02] sts-ryan-holton commented on #87
@christophrumpel managed to find a solution on Laracasts whereby creating a custom `NotificationServerProvider` and including the various channels in there allows to convert the channel name to whatever is needed, example:

[code]

[2022-08-09 08:02] #87 closed

[2022-08-09 08:07] christophrumpel commented on #87
Awesome! Thanks for sharing the result too 👏

[2022-08-09 18:47] sts-ryan-holton opened #88 "Set Twitter username in TwitterDirectMessage from User model routeNotificationForTwitter"
I have a `routeNotificationForTwitter` on my `User` model which returns the Twitter username for my user, how can I access this within my notification's `toTwitter` method?

[code]

[code]